<div class="row">
    <div class="span12 nav nav-bar">
        <div class="title">Participants</div>
    </div>
</div>
<div class="row">
    <div class="span12 deleted-elements">
        <% if (participants.length != 0) { %>
            <ul class="thumbnails span12">
                <%= participants_template({ participants: participants, server_url:server_url, deleted:deleted,
                                            id_selected:id_selected}) %>
        <% }
        else { %>
            <h3>No Participant to delete</h3>
        <% } %>
    </div>
</div>