<div class="row">
    <div class="span12 nav nav-bar">
        <div class="title">Participants</div>
    </div>
</div>
<div class="row">
    <div class="span12 deleted-elements">
        <% if (participants.length != 0) { %>
            <ul class="thumbnails span12">
                <% _.each(participants, function(participant, index){
                    if (_.indexOf(deleted, participant.id) < 0) { %>
                        <li id="<%= participant.id %>" class="thumbnail <% if (id_selected == participant.id) {print ('selected');}%>" draggable="true">
                            <input type="hidden" value="<%= index %>"/>
                                <div class="participant-thumb">
                                    <% if (!participant.picture_url) { %>
                                    <img class="photo" src="/img/participants/no-photo.jpg" draggable="false" alt=""/>
                                    <% }
                                    else
                                    { %>
                                    <img class="photo" src="<%= server_url %><%= participant.picture_url %>" alt="" draggable="false"/>
                                    <p hidden><img src="<%= server_url %><%= participant.pict_min %>"/></p>
                                    <% } %>
                                </div>
                                <h5><%= participant.firstname %>&nbsp;<%= participant.lastname %></h5>
                        </li>
                    <% }
                }); %>
            </ul>
        <% }
        else { %>
            <h3>No Participant to delete</h3>
        <% } %>
    </div>
</div>