<li id="deleteDropZone" class="drop-zone pull-right delete-menu <% if (type == 'deletions') { print(' hidden') } %>">
    <a href="#" class="delete"><i class="icon-trash icon-white"></i> Delete</a>
</li>
<li class="delete-menu">
    <a href="/deletions" class="badge badge-info nb-dels">0</a>
</li>
<li class="delete-menu">
    <a href="#" class="delete-actions confirm">
        <img src="/img/check.png" class="icon"/>
    </a>
</li>
<li class="delete-menu">
    <a href="#" class="delete-actions cancel">
        <img src="/img/cancel.png" class="icon"/>
    </a>
</li>