<img src="/img/aspect-icon-separator.png" class="element-separator"/>
<input id="searchText" type="text" class="search-query dropdown-toggle" placeholder="Search"
       autocomplete="off">

<div class="dropdown-toggle icon-search" data-toggle="dropdown">
    <ul class="dropdown-menu">
        <li><a id="participants" href="#"><i class="search-include icon-checked"></i><i class="icon-user"></i>Participants</a>
        </li>
        <li><a id="teams" href="#"><i class="search-include icon-checked"></i><i class="icon-edit"></i>Teams</a>
        </li>
        <li><a id="tournaments" href="#"><i class="search-include icon-checked"></i><i class="icon-edit"></i>Tournaments</a>
        </li>
    </ul>
</div>
