<img src="/img/aspect-icon-separator.png" class="element-separator" alt="separator"/>
<input id="searchText" type="search" class="search-query dropdown-toggle" placeholder="{{messages.search}}"
       autocomplete="off">

<div>
    <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="search-include icon-search"></i></a>
    <ul class="dropdown-menu">
        <li><a id="participants" href="#"><i class="search-include icon-checked"></i><i class="icon-user"></i>{{messages.participants}}</a>
        </li>
        <li><a id="teams" href="#"><i class="search-include icon-checked"></i><i class="icon-edit"></i>{{messages.teams}}</a>
        </li>
        <li><a id="tournaments" href="#"><i class="search-include icon-checked"></i><i class="icon-edit"></i>{{messages.tournaments}}</a>
        </li>
    </ul>
</div>
