<p class="pull-right help-menu"><a href="#"><i class="icon-question-sign"></i></a>&nbsp;Help</p>
<p class="pull-right shortcuts-menu"><a href="#"><img src="/img/keyboard.png" class="icon" alt="keyboard shortcuts"/>&nbsp;Shortcuts</a></p>

<p>Built as a sample application with <a data-bypass href="http://documentcloud.github.com/backbone/" target="_blank">Backbone.js</a>
    and <a data-bypass href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a> by <a
            href="" target="_blank">Baptiste Meurant</a>.</p>

<p>The source code for this application is available in <a data-bypass href="http://bitbucket.org/bmeurant/tournament-front" target="_blank">this repository</a> on bitbucket.</p>