<div class="navbar navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="#">G&T</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="home-menu">
                        <a href="#"><i class="icon-home icon-white"></i></a>
                    </li>
                    <li class="dropdown general-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-book icon-white"></i>
                            Menu <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#participants"><i class="icon-user"></i>Participants</a></li>
                            <li><a href="#participants"><i class="icon-edit"></i>Teams</a></li>
                            <li><a href="#participants"><i class="icon-edit"></i>Tournaments</a></li>
                        </ul>
                    </li>
                    <li>
                        <img class="element-separator" src="img/aspect-icon-separator.png"/>
                    </li>
                    <li id="actions-menu" class="element-menu">

                    </li>
                    <li class="element-menu delete-menu">

                    </li>
                </ul>
                <form class="nav navbar-search pull-right dropdown">
                    <img src="img/aspect-icon-separator.png" class="element-separator"/>
                    <input id="searchText" type="text" class="search-query dropdown-toggle" placeholder="Search"
                           autocomplete="off">

                        <div class="dropdown-toggle icon-search" data-toggle="dropdown">
                            <ul class="dropdown-menu">
                                <li><a id="participants" href="#"><i class="search-include icon-checked"></i><i class="icon-user"></i>Participants</a></li>
                                <li><a id="teams"href="#"><i class="search-include icon-checked"></i><i class="icon-edit"></i>Teams</a></li>
                                <li><a id="tournaments"href="#"><i class="search-include icon-checked"></i><i class="icon-edit"></i>Tournaments</a></li>
                            </ul>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>