<div id="edit" class="span12 view-elem">

    <form class="form-horizontal span12">
        <fieldset>

            <div class="row">
                <div class="span9">

                    <div class="control-group">

                        <% if (participant.id) { %>
                            <label for="participantId" class="control-label">Id:</label>

                            <div class="controls">
                                <input id="participantId" name="id" type="text"
                                       value="<%= participant.id %>"
                                       disabled/>
                            </div>
                        <% } %>

                    </div>

                    <div class="control-group">
                        <label for="firstname" class="control-label">First name:</label>

                        <div class="controls">
                            <input type="text" id="firstname" name="firstname" value="<%= participant.firstname ? participant.firstname: '' %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="lastname" class="control-label">Last name:</label>

                        <div class="controls">
                            <input type="text" id="lastname" name="lastname" value="<%= participant.lastname ? participant.lastname: '' %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                </div>

                <div class="span3">
                    <div class="well">
                        <p class="photo">
                            <% if (!participant.picture_url) { %>
                                <img class="photo" src="img/participants/no-photo.jpg" alt="" draggable="false"/>
                            <% }
                            else
                            { %>
                                <img class="photo" src="<%= server_url %><%= participant.picture_url %>" alt="" draggable="false"/>
                                <p hidden><img src="<%= server_url %><%= participant.pict_min %>"/></p>
                            <% } %>
                        </p>

                        <p>To change the picture, drag a new picture from your file system onto the box above.</p>
                    </div>
                </div>

            </div>

        </fieldset>

    </form>

</div>
