<li class="list-menu<% if (_.indexOf(actions, 'list') < 0) { print(' hidden') } %>">
    <a href="/participants"><i class="icon-list icon-white"></i> List</a>
</li>
<li class="add-menu<% if (_.indexOf(actions, 'add') < 0) { print(' hidden') } %>">
    <a href="/participant/add" class="add">
        <img src="/img/add-participant.png" class="icon"/>
        Add
    </a>
</li>
<li class="save-menu<% if (_.indexOf(actions, 'save') < 0) { print(' hidden') } %>">
    <a href="#" class="save">
        <img src="/img/save-participant.png" class="icon"/>
        Save
    </a>
</li>