<div class='title' rel="tooltip">Participant&nbsp;<img src='/img/crop.png' class='icon' draggable='false' alt="drag me"/></div>
{{#if navigable}}
    <ul class='nav-pills' rel='tooltip'>
        <li class='{{ifequalsinline type "details" "active"}}'>
            <a id='details' href='/participant/{{id}}'>Details</a>
        </li>
        <li class='{{ifequalsinline type "edit" "active"}}'>
            <a id='edit' href='/participant/{{id}}/edit'>Edit</a>
        </li>
        <!--li id='teams'>
            <a href='#teams?participant-id=<%= id %>'>Teams</a>
        </li-->
    </ul>
{{/if}}