<div class="title">Participant&nbsp;<img src="img/crop.png" class="icon" draggable="false"/></div>
<% if ((type == 'details') || (type == 'edit')) { %>
<ul class="nav-pills">
    <li class="<% if (type == 'details') { print('active');} %>">
        <a href="#participant/<%= id %>">Details</a>
    </li>
    <li class="<% if (type == 'edit') { print('active');} %>">
        <a href="#participant/<%= id %>/edit">Edit</a>
    </li>
    <li>
        <a href="#teams?participant-id=<%= id %>">Teams</a>
    </li>
</ul>
<% } %>