<div id="details" class="span12">
    <div class="span2">
        <p>
            <% if (!participant.picture_url) { %>
            <img id="photo" src="img/participants/no-photo.jpg" height="125" width="125" alt="" draggable="false"/>
            <% }
            else
            { %>
            <img id="photo" src="<%= server_url %><%= participant.picture_url %>" alt="" draggable="false"/>

        <p hidden><img src="<%= server_url %><%= participant.pict_min %>"/></p>
        <% } %>
        </p>

    </div>

    <div class="span8">
        <h2><%= participant.firstname %> <%= participant.lastname %></h2>
    </div>
</div>